<div class="portfolio-wrapper" >
  <div class="col-md-12">
    <ul class="filter">
      <li>Custom Search:</li>
      
      <li data-target="#home-carousel" data-slide-to="0"><a>Simple</a></li>
      <li data-target="#home-carousel" data-slide-to="1"><a>Sentiment</a></li>
      <li data-target="#home-carousel" data-slide-to="2"><a>Age</a></li>
      <li data-target="#home-carousel" data-slide-to="3"><a>Party</a></li>
      <li data-target="#home-carousel" data-slide-to="4"><a>Dance</a></li>
      <li data-target="#home-carousel" data-slide-to="5"><a>Weather</a></li>
      <li data-target="#home-carousel" data-slide-to="6"><a>Day-to-day</a></li>
      <li data-target="#home-carousel" data-slide-to="7"><a>Genre</a></li>
      <li data-target="#home-carousel" data-slide-to="8"><a>Random Thoughts?</a></li>

    </ul><!--/#portfolio-filter-->
  </div>
</div>
