
<!-- SLIDER -->
<section id="slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <%= render "tracks/carousel/01intro" %>
      <%= render "tracks/carousel/02find" %>
      <!-- TD: In future, iterate through madlibs -->
      <%= render "tracks/carousel/03madlib" %>

      <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div> <!-- /.carousel-inner -->
  </div> <!--/#home-carousel-->
  </section>
<!-- /SLIDER -->

<br>
<br>
<div id = "show-area">
</div>
