<h1>LYRICALLY CHALLENGED!</h1>

<%= form_tag("/search", method: "get", remote: true) do %>
  <%= label_tag(:word, "Search for:") %>
  <%= text_field_tag(:word) %>
  <%= submit_tag("Search") %>
<% end %>

<div id = "show-area"></div>
