<h1>LYRICALLY CHALLENGED!</h1>

<%= form_tag("/search", method: "get", class: "form-search", remote: true) do %>
  <%= label_tag(:word, "Search for:") %>
  <%= text_field_tag(:word) %>
  <%= submit_tag("Search") %>
<% end %>
<br>
<br>
<div id = "show-area">
    <p class="f-pending-message" style="display:none;"> Doing stuff </p>
</div>
