<!-- <%= form_tag("/searchstuff", method: "get", class: "feelings-search", remote: true) do %>
  <h1>Looking for a song about
  <%= text_field_tag(:word) %>
  <p><%= submit_tag("Search") %>
<% end %>

<img
  class="f-pending-message"
  style="width:500px;height:180px;display:none;"
  src="https://userscontent2.emaze.com/images/c99e58c5-cc05-4af4-ab93-4614a40e077b/386d9c23-88e2-487a-b84f-47bba61bb4a6.gif"
/>

<div id = "show-songs">
</div> -->

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <input id="speech" type="text">
                    <button id="rec" class="btn">Speak</button>
                  <div id="spokenResponse" class="spoken-response">
                    <div class="spoken-response__text"></div>
                    </div>
                  </div>
            </div>

            <button id="recordStuff" class="btn">Random</button>

        </div>
    </div>
</div>
