<h1> Artist: <%= @artist %> </h1>
<h1> Song: <%= @song %> </h1>

<h4> Lyrics: </h4>
<p> <%= @lyrics %> </p>


<h2> Search for a song or artist by changing the URL to something like: </h2>
<br>
<h3>
  <a href="http://localhost:3000/demos?song=Umbrella&artist=Rihanna">http://localhost:3000/demos?song=Umbrella&artist=Rihanna</a> </h3>

https://github.com/rhnvrm/lyric-api
