<div class="item" style="background-image:(/images/slider/02.jpg)">
  <div class="carousel-caption container">
    <div class="row">
      <div class="col-sm-7">
        <h1>Find</h1>
        <h2>Awesome songs</h2>
        <p>Based on what you actually want</p>
      </div>
    </div>
  </div>
</div>
