<div class="form">
  <!-- Presents each question and answer choices as a partial -->
    <% @questions.each do |question| %>
      <%= render partial: "tracks/carousel/question", locals:{question: question} %>
    <% end %>
</div> <!-- form -->
