<div class="item" style="background-image:(/images/slider/02.jpg)">
  <div class="carousel-caption container">
    <div class="row">
      <div class="col-sm-7">
        <!-- <h1>Find</h1>
        <h2>Awesome songs</h2>
        <p>Based on what you actually want</p> -->
        <div class="container">
        	<div class="form">
            <!-- TD: In future, iterate through all questions -->
              <%= render partial: "tracks/carousel/question", locals:{question:@questions[0]} %>
        				It begins at
        					<div class="btn-group">
        					<a class="btn dropdown-toggle dotted-btn" data-toggle="dropdown" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></a>
        					<ul class="dropdown-menu">
        						<li><a href="#">1 o'clock</a></li>
        						<li><a href="#">2 o'clock</a></li>
        						<li><a href="#">half past noon</a></li>
        						<li><a href="#">11 o'clock</a></li>
        						<li><a href="#">midnight</a></li>
        					</ul>
        				</div>. Please be sure to bring
        			</div>
        			<div class="row">
        				your favorite
        					<div class="btn-group">
        					<a class="btn dropdown-toggle dotted-btn" data-toggle="dropdown" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></a>
        					<ul class="dropdown-menu">
        						<li><a href="#">sword</a></li>
        						<li><a href="#">necklace</a></li>
        						<li><a href="#">snack</a></li>
        					</ul>
        				</div> <!-- item -->
        			</div> <!-- row -->
        		</div> <!-- form -->
        	</div> <!-- container -->
        </div> <!-- col-sm-7 -->
      </div> <!-- row -->
    </div> <!-- carousel-caption container -->
  </div> <!-- item -->
