<div class="row"> <%= question.keys.first %>
  <div class="btn-group">
    <a class="btn dropdown-toggle dotted-btn" data-toggle="dropdown" href="#">(topic)</span></a>
    <ul class="dropdown-menu">
      <% question.values.first.each do |answer| %>
      <li><a href="#"><%= answer %> </a></li>
      <% end %>
    </ul>
  </div>!
  <div class="row">
